$typo-primary: 'Open Sans', sans-serif;
$primary-color:  #1B1464;
$secundary-color: #666;

*{
  margin: 0 auto;
}
body{
  font: 100% $typo-primary;
  color: $primary-color;
}
header{
  position: relative;
  text-align: center;
  background-image: url(/img/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .logo{
      margin-top: 20px;
      background-image: url(../img/adelantos.png);
      background-repeat: no-repeat;
      width: 280px;
      height: 50px;
    }
    .menu ul li{
      display: inline-block;
      text-decoration: none;
    }
    .menu-b{
      margin: 5px;
      font-size: 14px;
      color: $primary-color;
    }
    .solicitud a{
      font-size: 14px;
      color: $primary-color;
      font-weight: 700;
      margin-right: 20px;
    }
    .btn {
      background: #595EC2;
      background-image: -webkit-linear-gradient(top, #595EC2, $primary-color);
      background-image: -moz-linear-gradient(top, #595EC2, $primary-color);
      background-image: -ms-linear-gradient(top, #595EC2, $primary-color);
      background-image: -o-linear-gradient(top, #595EC2, $primary-color);
      background-image: linear-gradient(to bottom, #595EC2, $primary-color);
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      font-family: 'Open sans' sans-serif;
      color: #ffffff;
      font-size: 14px;
      padding: 5px 25px;
      text-decoration: none;
      text-transform: uppercase;
    }
    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }
}
@media only screen and (max-width: 1024px){
  .logo{
    width: 80%;
    padding: 0;
  }
  header{
    nav{
      .menu-b{
        font-size: 10px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
h1{
  font-weight: 600;
  padding: 15px 0;
}
h2{
  font-weight: 600;
}
.box{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.30);
}
/* RANGER */
input[type=range] {
  height: 55px;
  -webkit-appearance: none;
  margin: 10px auto;
  width: 80%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 27px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #828282;
  background: #595ec2; /* Old Browsers */
  background: -webkit-linear-gradient(top,#595ec2,$primary-color); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,#595ec2,$primary-color); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,#595ec2,$primary-color); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #595ec2, $primary-color); /*Standard*/
  border-radius: 50px;
  border: 3px solid #B3B3B3;
}
input[type=range]::-webkit-slider-thumb {

  border: 2px solid #D4D4D4;
  height: 29px;
  width: 50px;
  border-radius: 60px;
  background: #575760;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #595EC2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 27px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #828282;
  background: #595EC2;
  border-radius: 50px;
  border: 3px solid #B3B3B3;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 5px #969696;
  border: 2px solid #D4D4D4;
  height: 45px;
  width: 50px;
  border-radius: 45px;
  background: #575760;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 27px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #595EC2;
  border: 3px solid #B3B3B3;
  border-radius: 100px;
  box-shadow: 1px 1px 2px #828282;
}
input[type=range]::-ms-fill-upper {
  background: #595EC2;
  border: 3px solid #B3B3B3;
  border-radius: 100px;
  box-shadow: 1px 1px 2px #828282;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 5px #969696;
  border: 2px solid #D4D4D4;
  height: 45px;
  width: 50px;
  border-radius: 45px;
  background: #575760;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #595EC2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #595EC2;
}
.number{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  p{
    font-size: 24px;
    font-weight: 600;
    color: #666;
    margin-top: -6px;
  }
}
.ticket{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 30px 0;
  font-size: 20px;
  color: $secundary-color;
  font-weight: 400;
}
.btn-medium{
  background: #595EC2;
  background-image: -webkit-linear-gradient(top, #595EC2, $primary-color);
  background-image: -moz-linear-gradient(top, #595EC2, $primary-color);
  background-image: -ms-linear-gradient(top, #595EC2, $primary-color);
  background-image: -o-linear-gradient(top, #595EC2, $primary-color);
  background-image: linear-gradient(to bottom, #595EC2, $primary-color);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Open sans' sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin: 30px auto;
  padding: 10px;
  width: 80%;
  height: 10%;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-small{
  background: #595EC2;
  background-image: -webkit-linear-gradient(top, #595EC2, $primary-color);
  background-image: -moz-linear-gradient(top, #595EC2, $primary-color);
  background-image: -ms-linear-gradient(top, #595EC2, $primary-color);
  background-image: -o-linear-gradient(top, #595EC2, $primary-color);
  background-image: linear-gradient(to bottom, #595EC2, $primary-color);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Open sans' sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  width: 30%;
  height: 10%;
}
.pocos-pasos{
  padding-top: 30px;
}
.title{
  margin-top: 30px;
  color: #3C3C3B;
  text-align: center;
}
.paragraph{
  margin-top: 50px;
}
.subtitle{
  color: #3C3C3B;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0;
  margin: 50px 0;
}
.definition{
  color: #3C3C3B;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0;
}
.violet{
  margin-top: 50px;
  background-color: #464081;
  display: flex;
  align-items: center;
}
.tilde{
  float: left;
}
.violet-typo{
  border-color: #464081;
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
}
.requirements{
  background-image: url("../img/background-req.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px 0;
}
.subtitle-req{
  color: #3C3C3B;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 200px;
  padding: 30px 0;
  margin: 40px 0;
  text-align: center;
}
.center{
  text-align: center;
  margin: 40px 0;
}
.medium{
  font-size: 200px;
  color: #464081;
}
.subtitle-b{
  color: #464081;
  font-weight: 600;
  font-size: 20px;
  margin: 30px 0 10px;

}
.ventajas{
  margin-top: 50px;
  .definition-b{
    color: #3C3C3B;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
  }
  .definition-c{
    color: #3C3C3B;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    width: 70%;
    margin: 0 auto;
  }
}
.email{
  display: block;
  margin: 30px auto;
  padding: 10px 15px;
  width: 80%;
  border-radius: 10px;
  font-size: 20px;
}
.contact{
  background-image: url(../img/background-cont.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px 0;
}
.testimony{
  margin: 0 auto;
  background: #1B1464; /* Old Browsers */
  background: -webkit-linear-gradient(left,#1B1464,#595ec2); /*Safari 5.1-6*/
  background: -o-linear-gradient(left,#1B1464,#595ec2); /*Opera 11.1-12*/
  background: -moz-linear-gradient(left,#1B1464,#595ec2); /*Fx 3.6-15*/
  background: linear-gradient(to right, #1B1464, #595ec2); /*Standard*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.result{
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 20px 0px 0px;
}
.people{
  font-size: 16px;
  text-align: center;
  color: #fff;
}
footer{
  margin: 0 auto;
  padding: 5px 30px;
  background-color: #1D1D1B;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo{
    margin-top: 20px;
    background-image: url(../img/footer/logo.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 80px;
    height: 80px;
  }
  .comodo{
    margin-top: 20px;
    background-image: url(../img/footer/comodo-segure.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 120px;
    height: 70px;
  }
  .terminos{
    a{
      color: #fff;
      font-size: 24px;
      text-align: center;
      }
    }
  }
